body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

h1 {
    color: #333;
}
button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}
#output {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 10px;
    border: 1px solid greenyellow;
    margin-top: 15px;
}
